.portal-theme {
          --primary-portal-25: #ebeef2;
  --primary-portal-50: #e6ebf1;
  --primary-portal-100: #b0c2d3;
  --primary-portal-200: #8aa5be;
  --primary-portal-300: #547ca0;
  --primary-portal-400: #33628d;
  --primary-portal-500: #003b71;
  --primary-portal-600: #003667;
  --primary-portal-700: #002a50;
  --primary-portal-800: #00203e;
  --primary-portal-900: #00192f;
      }